:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

form {
  width: 30rem;
  margin: 5rem auto;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  background: #aee6fc;
  background: linear-gradient(
    49deg,
    rgba(174, 230, 252, 1) 0%,
    rgba(171, 255, 207, 1) 50%,
    rgba(250, 239, 145, 1) 100%
  );
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

#height-input,
#age-input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem;
}
